{% extends 'base.html' %}
{% load wagtailcore_tags static wagtailimages_tags wagtailmarkdown %}

{% block title %}
    {{ page.title }}
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href={% static 'css/text_page.css' %}>
    <link rel="stylesheet" href={% static 'css/nav_buttons.css' %}>
{% endblock %}

{% block content %}
    {% if page.picture %}
        {% image page.picture fill-800x400 as tmp_photo %}
        <img src="{{ tmp_photo.url }}" width="{{ tmp_photo.width }}" height="{{ tmp_photo.height }}" alt="{{ tmp_photo.alt }}">
    {% endif %}
    {{ page.body|markdown }}

    {% include 'home/nav_buttons.html' with buttons='labs friends contact disclaimer' %}
{% endblock %}