{% extends 'base.html' %}
{% load wagtailcore_tags static wagtailmarkdown %}

{% block extra_css %}
    <link rel="stylesheet" href={% static 'css/text_page.css' %}>
    <link rel="stylesheet" href={% static 'css/nav_buttons.css' %}>
    <link rel="stylesheet" href={% static 'css/dono_button.css' %}>
{% endblock %}

{% block content %}
    {{ page.body|markdown }}

    {% include_block page.donation_button %}

    {% include 'home/nav_buttons.html' with buttons='home labs friends contact disclaimer' %}
{% endblock content %}