body {
    background-color: #0081a7;
}

.page {
    background-color: #00afb9;
}

.question-label, li::marker {
    font-family: "Delius Swash Caps", cursive;
    color: #e0dd7d;
    text-shadow:
        -0.5px -0.5px 0px #e0dd7d,
         0.0px -0.5px 0px #e0dd7d,
         0.5px -0.5px 0px #e0dd7d,
        -0.5px  0.0px 0px #e0dd7d,
         0.0px  0.0px 0px #e0dd7d,
         0.5px  0.0px 0px #e0dd7d,
        -0.5px  0.5px 0px #e0dd7d,
         0.0px  0.5px 0px #e0dd7d,
         0.5px  0.5px 0px #e0dd7d;
}

.answer-label {
    color: yellow;
    text-decoration-color: yellow;
    text-shadow: none;
}

.picture-frame.frame-fish img {
    mask-image: url("../images/frames/mask-fish.png");
    mask-origin: content-box;
    mask-size: 100% 100%;
}

@media screen and (width <= 500.0px) {
    .picture-frame {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px 0;
        position: relative;
    }

    .picture-frame.frame-fish {
        aspect-ratio: 1 / 1;
        max-width: 300.0px;
        margin: 0 auto;
    }
}

@media screen and (width > 500.0px) {
    .picture-frame {
        position: relative;
        float: right;
        margin: -3rem -4rem 16px 0;
    }
}